extends layout

block content
  .container
    .row
      .col-12
        h2 Block Explorer
        table.table.table-striped.table-bordered
          thead
            tr
              th Height
              th Hash
              th Block Type
              th Tx Count
              th Size (kB)
              th Age
              th Timestamp
          tbody
            each block in blocks
              tr
                td
                  a(href='/block/' + block.hash)= block.height
                td= block.hash
                td
                  if block.block_type === 'PoS'
                    span.badge.badge-success.badge-sm(style='font-size:90%;') PoS
                  else if block.block_type === 'PoW'
                    span.badge.badge-warning.text-dark.badge-sm(style='font-size:90%;') PoW
                  else
                    span.badge.badge-secondary.badge-sm(style='font-size:90%;') Unknown
                td= block.tx_count
                td= (block.size / 1024).toFixed(2)
                td
                  - var now = Math.floor(Date.now() / 1000);
                  - var ageSec = now - block.time;
                  - function blockAge(sec) {
                  -   if (sec < 60) return sec + ' seconds ago';
                  -   if (sec < 3600) return Math.floor(sec/60) + ' minutes ago';
                  -   if (sec < 86400) return Math.floor(sec/3600) + ' hours ago';
                  -   if (sec < 172800) return 'Yesterday';
                  -   return Math.floor(sec/86400) + ' days ago';
                  - }
                  span(title=format_unixtime(block.time))= blockAge(ageSec)
                td= format_unixtime(block.time)
        // Pagination controls
        if maxPage > 1
          nav.mt-3
            ul.pagination.justify-content-center
              if page > 1
                li.page-item
                  a.page-link(href='/blocks?page=' + (page - 1)) Previous
              else
                li.page-item.disabled
                  span.page-link Previous
              li.page-item.active
                span.page-link Page #{page} of #{maxPage}
              if page < maxPage
                li.page-item
                  a.page-link(href='/blocks?page=' + (page + 1)) Next
              else
                li.page-item.disabled
                  span.page-link Next
